/**Styles as elements  */
* {
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
}

/**Styles body */
body {
    background-color: skyblue;
}

/*styles header */
header{
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;           
}

/*styles h1 elements inside header*/
header h1 {
    display:inline-flex;
    font-size: 24px;
}

/**styles pins nav bar to right side and sets font size  */
header nav { 
    float: right;
    font-size: 20px;
}

/*nav bar list */
nav ul{
    display: flex;
    white-space: nowrap;
}


/*styles the text of the links */
header a{
    color:white;
}

/*styles titles in content section */
.content h2{
    white-space: nowrap;
}

/*styles about me section */
.about-me{
    display: flex; 
}

/*styles about me title */
.about-me h2{
    display: flex;
    border-right: 5px solid darkblue;
    justify-content: center;
    align-items: center;
}

/*styles work section */
.work{
    display:flex;
}

/*styles work section title */
.work h2{
    display:flex;
    border-right: 5px solid darkblue;
    justify-content: center;
    align-items: center;
}



/*styles projects section */
.projects{
    display: flex;
    flex-wrap: wrap;
}

/*adds some padding between the project img and project description */
.projects img{
    padding-bottom: 2%;
}

/*adds some padding between the project title and the project image */
.projects h3{
    padding-bottom: 1%;
}

/*adds padding to the bottom of the first project row*/
.project-row1{
    padding-bottom: 2%;
}

/**styles first row of project images  */
.project-row1 img{
   width: 80%;
}

/*styles second row of projects */
.project-row2{
    display: flex; 
    padding-bottom: 2%;
}

 /*styles third row of projects */
.project-row3{
    display:flex;
    padding-bottom: 2%;
}

/*styles contact us section */
.contact-us{
    display: flex;
    white-space: nowrap; 
}

/*styles contact us title */
.contact-us h2{
    border-right: 5px solid darkblue;
}

/*styles contact us links */
.contact-us .links{
    display: flex;
}
